table,
th,
td {
  border: 1px solid black;
}
.chart {
  width: 100%;
  height: 100%;
}

main {
}

/* 
display: fle;
#55a84f MEDIUM SEA GREEN
#a3c853 YELLOW gREEN
#fff833 YELLOW
#f29c33 GOLDEN ROD
#e93f33 CRIMSON
#af2d24 FIRE BRICK


*/
